.user-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.user-card {
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.user-card:hover {
    transform: translateY(-3px);
}

.user-card h3 {
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.user-card p {
    margin-bottom: 8px;
    line-height: 1.5;
}

.user-card { 
  display: flex;
  flex-direction: column;
}
.user-card-actions {
    display: flex;
    flex-direction: row-reverse;
    align-self: self-end;
    position: absolute;
    gap: 10px;
    margin-top: -5px;
}
.user-card-actions .edit-button.icon.edit-icon {
    transform: translateY(0);
}
.user-card-actions .delete-button {
    top: 0;
    bottom: 0;
    right: 0;
    position: relative;
}
.user-card .edit-user-icon {
    font-size: 22px;
}
.user-card .delete-button {
    bottom: 10px;
}
.edit-user-icon:hover {
    color: var(--accent-color);
}
#user-modal .form-group .form-card {
    width: 100%;
}
#user-profile  {
    max-width: 700px;
    margin: auto;
}