<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cleaning Timetable{% endblock %}</title>
    
    
    {% include 'styles.html' %}
    
</head>
<body>
    <!-- Script must remain in body -->
    <script src="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://kit.fontawesome.com/ca3e8bf32b.js" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:afterSwap', (event) => {
            // Re-init dragula on updated content
            dragula([...document.querySelectorAll('.dragula-container')]);

            // Re-init flatpickr on updated content
            flatpickr(".flatpickr", {
                enableTime: true,
                dateFormat: "{{DATETIME_FORMATS['DATETIME_FORMAT_FLATPICKR']}}", 
                altInput: true,
                altFormat: "{{DATETIME_FORMATS['DATETIME_FORMAT_JOBS_JS']}}",
                allowInput: true,
                onOpen: function(selectedDates, dateStr, instance) {
                    // Ensure the calendar opens correctly for existing values
                    if (instance.input.value) {
                        instance.setDate(instance.input.value, false);
                    }
                }
            });
        });

    </script>
    <header>
        <nav>
            <a href="{{ url_for('job.timetable') }}">My Jobs</a>
            {% if current_user.is_authenticated and current_user.role == 'owner' %}
            <a href="{{ url_for('teams.teams') }}">Teams</a>
            <a href="{{ url_for('user.users_view') }}">Users</a>
            <a href="{{ url_for('properties.properties_collection') }}">Address Book</a>
            {% endif %}
            <a href="{{ url_for('user.get_user_profile')}}">My Profile</a>
            <a href="{{ url_for('user.login') }}">Login</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script> 
    <script>
        // Keyboard shortcuts
        document.addEventListener('keydown', function(event) {
            if (event.key === "Escape") {
                event.preventDefault();
                const modals = document.getElementsByClassName('modal')
                for (let i = 0; i < modals.length; i++) {
                    modals[i].style.display = 'none';
                }
            }
        })
    </script>
</body>
</html>