<div class="job-card {% if job.id in back_to_back_job_ids %}back-to-back-job{% endif %} {% if job.arrival_datetime and job.arrival_datetime.date() == job.date %}arrival-same-day{% elif job.arrival_datetime and (job.arrival_datetime.date() - job.date).days == 1 %}arrival-next-day{% endif %}" id="job-{{ job.id }}">
    <span class="job-close-button small-icon close-button" data-job-id="{{ job.id }}"
    hx-delete="/jobs/job/{{ job.id }}/delete"
    hx-target="#job-list"
    hx-swap="outerHTML"
    hx-confirm="Are you sure you want to delete this job? This action cannot be undone."
    style="cursor: pointer">&times;</span>
    
    <div class="job-card-details">
        <div class="job-info">
            <p><strong>Time:</strong> {{ job.time.strftime(DATETIME_FORMATS['TIME_FORMAT']) }}</p>
            <p><strong>Ends:</strong> {{ job.end_time.strftime(DATETIME_FORMATS['TIME_FORMAT']) }} ({{ job.duration }})</p>
            <p><strong>Property Address:</strong> {{ job.property.address }}</p>
        </div>
        <div class="job-status-actions">
            {% include "job_actions_fragment.html" %}
            <div class="job-statuses">
                {% include 'job_status_fragment.html' %}
                {% if job.arrival_datetime and job.arrival_datetime.date() == job.date %}
                <div class="job-status-badge red">Same Day Arrival</div>
                {% elif job.arrival_datetime and (job.arrival_datetime.date() - job.date).days == 1 %}
                <div class="job-status-badge yellow">Next Day Arrival</div>
                {% endif %}
                {% if job.id in back_to_back_job_ids %}
                <div class="job-status-badge red">Back to Back</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>