<div class="job-actions" id="job-actions-{{ job.id }}">
    <button hx-post="{{ url_for('job.update_job_status', job_id=job.id) }}"
            hx-vals='{"is_complete": "{{ not job.is_complete }}" }'
            hx-target="#job-actions-{{ job.id }}"
            hx-swap="innerHTML"
            class="button">
        <span id="job-update-status-{{ job.id }}">{% if job.is_complete %}Mark Pending{% else %}Mark Complete{% endif %}</span>
    </button>
    <button hx-get="{{ url_for('job.get_job_details', job_id=job.id) }}"
            hx-target="#job-details-modal-content"
            hx-trigger="click"
            hx-on--after-request="document.getElementById('job-details-modal').style.display='block'"
            class="button">
        View Details
    </button>
</div>