<div class="job-card" id="job-{{ job.id }}">
    <span class="job-close-button small-icon close-button" data-job-id="{{ job.id }}">&times;</span>
    <div class="job-card-details">
        <div class="job-info">
            <p><strong>Time:</strong> {{ job.time.strftime('%H:%M') }}</p>
            <p><strong>Ends:</strong> {{ job.end_time.strftime('%H:%M') }} ({{ job.duration }})</p>
            <p><strong>Property Address:</strong> {{ job.property.address }}</p>
        </div>
        <div class="job-status-actions">
            {% include "job_actions_fragment.html" %}
            <p>{% include 'job_status_fragment.html' %}</p>
        </div>
    </div>
</div>