{% extends "base.html" %}

{% block title %}Properties{% endblock %}

{% block content %}
    <div class="container">
        <div class="header-with-button">
            <h1>All Properties</h1>
            <button class="button"
                    hx-get="{{ url_for('properties.create_property_route') }}"
                    hx-target="#property-modal-content"
                    hx-trigger="click"
                    hx-on--after-request="document.getElementById('property-modal').style.display='block'">
                Create Property
            </button>
        </div>
        <div class="property-list" id="property-list">
            {% include 'property_list_fragment.html' %}
        </div>
    </div>

    <!-- Property Modal -->
    <div id="property-modal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-button" onclick="document.getElementById('property-modal').style.display='none'">&times;</span>
            <div id="property-modal-content">
                <!-- Property creation and update forms as well as job list will be rendered here via HTMX -->
            </div>
        </div>
    </div>
    
    <!-- Job Modal for Accessing Jobs on the Property Job List -->
    {% include 'job_modal.html' %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/property_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_styles .css') }}">.
{% endblock %}