{% extends "base.html" %}

{% block title %}Properties{% endblock %}

{% block content %}
    <div class="container">
        <div class="header-with-button">
            <h1>All Properties</h1>
            <button class="button"
                    hx-get="{{ url_for('properties.create_property_route') }}"
                    hx-target="#property-modal-content"
                    hx-trigger="click"
                    hx-on--after-request="document.getElementById('property-modal').style.display='block'">
                <span class="icon">{{ svg_icons['plus-solid-full'] | safe }}</span>
                <span class="button-text">Create Property</span>
            </button>
        </div>
        <div class="property-list" id="property-list">
            {% include 'property_list_fragment.html' %}
        </div>
    </div>

    <!-- Property Modal -->
    {% with modal_name='property' %}
    {% include 'modal.html' %} 
    {% endwith %}
    
    <!-- Job Modal for Accessing Jobs on the Property Job List -->
    {% with modal_name='job' %}
    {% include 'modal.html' %} 
    {% endwith %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/property_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_style.css') }}">.
{% endblock %}