<div class="team-card" id="team-card-{{ team.id }}">
    <span class="team-close-button small-icon close-button" data-team-id="{{ team.id }}" data-num-members="{{ team.members | length }}">&times;</span>
    <div class="team-header" title="Edit Team">
        <h3 class="team-name-display">{{ team.name }}</h3>
        <span class="material-symbols-outlined edit-team-icon"
            hx-get="{{ url_for('teams.get_edit_team_form', team_id=team.id) }}"
            hx-target="#team-modal-content"
            hx-swap="innerHTML"
            hx-on--after-request="document.getElementById('team-modal').style.display='flex'">edit</span>
    </div>
    
    <div class="team-members">
        <ul class="members-list">
            {% if team.members %}
                {% for member in team.members %}
                    <li class="member-item {% if member.id == team.team_leader_id %}team-leader-member{% endif %}" data-member-id="{{ member.id }}" >
                        <span class="member-name">{{ member.first_name }} {{member.last_name}}
                            {% if member.id == team.team_leader_id %}
                                <span class="badge leader-badge">👑</span>
                            {% endif %}
                        </span>
                        <span class="delete-button" hx-delete="/teams/team/{{ team.id }}/member/remove/{{ member.id }}"
                                  hx-target=".teams-grid"
                                  hx-swap="innerHTML">&times;</span>
                    </li>
                {% endfor %}
            {% else %}
                <p class="no-members">No members in this team</p>
            {% endif %}
        </ul>
    </div>
</div>