<form id="create-team-form" class="form-card" hx-post="/teams/create"
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      hx-target=".teams-grid"
      hx-swap="innerHTML"
      hx-on--after-request="if(event.detail.successful) { document.getElementById('team-modal').style.display='none'; document.getElementById('create-team-form').reset(); document.body.dispatchEvent(new Event('teamListUpdated')); } else { document.getElementById('errors-container').outerHTML = event.detail.xhr.response; }">

    <h2>Create New Team</h2>
    {% include '_form_response.html' %}

    <div class="form-group">
        <label for="create-team-name">Team Name:</label>
        <input type="text" id="create-team-name" name="team_name" value="">
    </div>

    <div class="form-group">
        <label for="edit-team-members">Add/Remove Members:</label>
        <select id="edit-team-members" name="members" multiple>
            {% if other_team_members %}
            <optgroup label="On a Different Team">
                {% for member in other_team_members %}
                <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                {% endfor %}
            </optgroup>
            {% endif %}
            {% if non_team_members %}
            <optgroup label="Not on a Team">
                {% for member in non_team_members %}
                <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                {% endfor %}
            </optgroup>
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <label for="edit-team-leader">Select Team Leader:</label>
        <select id="edit-team-leader" name="team_leader_id">
            <option value="">No Leader</option>
            {% if current_members %}
            <optgroup label="Current Members">
                {% for member in current_members %}
                <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                {% endfor %}
            </optgroup>
            {% endif %}
            {% if other_team_members %}
            <optgroup label="On a Different Team">
                {% for member in other_team_members %}
                <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                {% endfor %}
            </optgroup>
            {% endif %}
            {% if non_team_members %}
            <optgroup label="Not on a Team">
                {% for member in non_team_members %}
                <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                {% endfor %}
            </optgroup>
            {% endif %}
        </select>
    </div>

    <button type="submit" class="button">Create Team</button>
</form>