<!-- templates/team_timetable_fragment.html -->
<div class="team-columns-container" id="team-columns-container">
    {% for team in all_teams %}
        <div class="column-container">
            <h3 class="team-column-header">{{ team.name }}</h3>
            <div class="team-column" data-team-id="{{ team.id }}">
                {% if jobs_by_team[team] %}
                    {% for job in jobs_by_team[team] %}
                        {% with view_type=view_type %}
                        {% include 'job_card.html' %}
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    <p class="no-jobs-message">No jobs for this team.</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>