{% from 'card_actions.html' import render_card_actions %}

<div class="team-card" id="team-card-{{ team.id }}" data-team-id="{{ team.id }}">
    <!-- <span class="team-close-button small-icon close-button" data-team-id="{{ team.id }}" data-num-members="{{ team.members | length }}">&times;</span> -->
    <div class="team-header" title="Edit Team">
        <h3 class="team-name-display">{{ team.name }}</h3>
        <!-- <img
            hx-get="{{ url_for('teams.get_edit_team_form', team_id=team.id) }}"
            hx-target="#team-modal-content"
            hx-swap="innerHTML"
            hx-on--after-request="document.getElementById('team-modal').style.display='flex'"
            src="{{ url_for('static', filename='icons/pencil-solid-full.svg') }}" alt="Edit" class="edit-button edit-icon icon"> -->
    </div>
    
    <div class="team-members">
        <ul class="members-list">
            {% if team.members %}
                {% for member in team.members %}
                    <li class="member-item {% if member.id == team.team_leader_id %}team-leader-member{% endif %}" data-member-id="{{ member.id }}" >
                        <span class="member-name">{{ member.first_name }} {{member.last_name}}
                            {% if member.id == team.team_leader_id %}
                                <span class="badge leader-badge"><img src="{{ url_for('static', filename='icons/crown.svg') }}" alt="Leader" class="icon"></span>
                            {% endif %}
                        </span>
                        <span class="delete-button" hx-delete="/teams/team/{{ team.id }}/member/remove/{{ member.id }}"
                                   hx-target=".teams-grid"
                                   hx-swap="innerHTML">&times;</span>
                    </li>
                {% endfor %}
            {% else %}
                <p class="no-members no-drag">No members in this team</p>
            {% endif %}
        </ul>
    </div>
    {{ render_card_actions([
        {
            'label': 'Edit',
            'icon_name': 'pencil-solid-full',
            'class': 'edit-button',
            'htmx_attrs': {
                'hx-get': url_for('teams.get_edit_team_form', team_id=team.id),
                'hx-target': '#team-modal-content',
                'hx-swap': 'innerHTML',
                'hx-trigger': 'click',
                'hx-on--after-request': "document.getElementById('team-modal').style.display='flex'"
            }
        },
        {
            'label': 'Delete',
            'icon_name': 'trash-can-solid-full',
            'type': 'delete',
            'htmx_attrs': {
                'hx-delete': url_for('teams.delete_team', team_id=team.id),
                'hx-target': '.teams-grid',
                'hx-swap': 'innerHTML',
                'hx-confirm': 'Are you sure you want to delete this team? This action cannot be undone.'
            }
        }
    ]) }}
</div>