{% extends "base.html" %}

{% block title %}Timetable{% endblock %}

{% block content %}
    <div class="container">
        <div class="header-with-button" id="timetable-header">
            <h1>Timetable</h1>
            <div class="input-wrapper button" id="date-picker-wrapper">
                <input type="text" id="timetable-datepicker" placeholder="Select Date"/>
            </div>
            {% if current_user.role == 'owner' %}
                <!-- This button uses the session date stored by the job helper -->
                <button class="button" onclick="window.location.assign('{{ url_for('job.team_timetable')}}')">
                    Team View
                </button>
                <button class="button"
                        hx-get="{{ url_for('job.create_job') }}"
                        hx-target="#job-modal-content"
                        hx-trigger="click"
                        hx-on--after-request="document.getElementById('job-modal').style.display='block'">
                    <span class="icon">{{ svg_icons['plus-solid-full'] | safe }}</span>
                    <span class="button-text">Create Job</span>
                </button>
            {% endif %}
        </div>
        
        {% include '_form_response.html' %}
        {% with view_type='normal' %}
        {% include 'job_list_fragment.html' %}
        {% endwith %}
        
    </div>
  
    {% with modal_name='job' %}
    {% include 'modal.html' %} 
    {% endwith %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_styles.css') }}">

    <script>
        flatpickr("#timetable-datepicker", {
            dateFormat: "{{ DATETIME_FORMATS['DATE_FORMAT_FLATPICKR'] }}",
            defaultDate: "{{ selected_date }}",
            onChange: function(selectedDates, dateStr, instance) {
                // Redirect to timetable page for new date
                window.location.assign('{{ url_for("job.timetable") }}?date=' + dateStr);
            }
        });
    </script>
    <script>
        // Use htmx.on to ensure Flatpickr is initialized after HTMX swaps content
        htmx.on("htmx:afterSwap", function(event) {
            try {
                flatpickr("#date", {
                    dateFormat: "{{ DATETIME_FORMATS['DATE_FORMAT_FLATPICKR'] }}",
                    defaultDate: "{{ selected_date }}"
                });
            } catch (error) {
                console.error("Error initializing Flatpickr:", error);
            }
        });
    </script>
{% endblock %}

