<div class="user-card">
    <span class="material-symbols-outlined edit-user-icon"
    hx-get="{{ url_for('user.update_user', user_id=user.id) }}"
    hx-target="#user-modal-content"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-on--after-request="document.getElementById('user-modal').style.display='block'">edit</span>
    <div class="user-details">
        <h3>{{ user.username }}</h3>
        <p><strong>Role:</strong> {{ user.role }}</p>
        <p><strong>Teams:</strong>
            {% if user.teams %}
                {% for team_name in user.teams %}
                    {{ team_name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                No Teams
            {% endif %}
        </p>
    </div>
</div>