<form id="user-update-password-form"
hx-put="{{ url_for('user.update_user_password', user_id=user.id) }}"
hx-on--after-request="if(event.detail.successful) { document.getElementById('profile-modal').style.display='none'; document.getElementById('user-update-form').reset(); } else { document.getElementById('errors-container').outerHTML = event.detail.xhr.response; }"
hx-target="#errors-container"
hx-swap="outerHTML"
>
    <input hidden name="id" value="{{ user.id }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        <div class="form-card password-card">
            <div class="card-header">
                <span class="card-icon"><img src="{{ url_for('static', filename='icons/user.png') }}" alt="User Profile" class="user-icon icon"></span>
                <span class="card-title">Update Password</span>
            </div>
            <div class="form-field">
                <label for="old_password">Old Password</label>
                <input type="password" id="old_password" name="old_password" {% if current_user.role != 'admin' %}required{% endif %} placeholder-text="Enter old password">
            </div>
            <div class="form-field">
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" required placeholder-text="Enter new password">
            </div>
            <div class="form-field">
                <label for="new_password_confirmation">Confirm New Password</label>
                <input type="password" id="new_password_confirmation" name="new_password_confirmation" required placeholder-text="Confirm new password">
            </div>
        
            <div class="form-actions">
                <button type="submit" class="button save-button">
                    <img src="{{ url_for('static', filename='icons/save.svg') }}" alt="Save" class="save-icon icon"> Update Password
                </button>
                <button type="button" class="button" onclick="document.getElementById('{{modal_name}}-modal').style.display='none'">Cancel</button>
            </div>
        </div>
    </div>
</form>