<form id="user-update-form"
{% if user_profile %}
class="user-profile"
hx-put="{{ url_for('user.update_user_profile') }}"
hx-swap="outerHTML"
{% else %}
hx-put="{{ url_for('user.update_user', user_id=user.id) }}"
hx-on--after-request="if(event.detail.successful) { document.getElementById('user-modal').style.display='none'; document.getElementById('user-update-form').reset(); } else { document.getElementById('errors-container').outerHTML = event.detail.xhr.response; }"
hx-target="#errors-container"
hx-swap="outerHTML"
{% endif %}
>
    {% if user_profile %}
    {% include '_form_response.html' %}
    {% endif %}
    <p>Need to <a 
        hx-get="{{ url_for('user.get_user_update_password_form', user_id=user.id)}}"
        hx-target="#profile-modal-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        hx-on--after-request="document.getElementById('profile-modal').style.display='block'">reset your password?</a></p>
    <input hidden name="id" value="{{ user.id }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        <div class="form-card">
            <div class="card-header">
                <span class="card-icon"><img src="{{ url_for('static', filename='icons/user.png') }}" alt="User Profile" class="user-icon icon"></span>
                <span class="card-title">User Details</span>
            </div>
            <div class="form-field">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" required value="{{user.first_name}}">
            </div>
            <div class="form-field">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" required value="{{user.last_name}}">
            </div>
            <div class="form-field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required value="{{user.email}}">
            </div>
            <div class="form-field">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" value="{{user.phone}}">
            </div>

            {% if current_user.role == 'admin' %}
            <div class="form-field">
                <label for="role">Staff Role</label>
                <select name="role" id="role">
                    {% for role in roles %}
                    <option value="{{ role }}" {% if role == user.role %}selected{% endif %}>{{ role }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="button save-button">
                    <img src="{{ url_for('static', filename='icons/save.svg') }}" alt="Save" class="save-icon icon"> Update User
                </button>
                {% if not user_profile %}
                <button type="button" class="button" onclick="document.getElementById('{{modal_name}}-modal').style.display='none'">Cancel</button>
                {% endif %}
            </div>
        </div>
    </div>
</form>