{% from 'card_actions.html' import render_card_actions %}

<div class="user-card">
    <!-- <div class="user-card-actions">
        <span class="small-icon delete-button"
        hx-delete="{{ url_for('user.delete_user', user_id=user.id) }}"
        hx-target="#errors-container"
        hx-swap="innerHTML"
        hx-confirm="Are you sure you want to delete this user? This action cannot be undone."
        style="cursor: pointer">&times;</span>
        
        <img
        hx-get="{{ url_for('user.update_user', user_id=user.id) }}"
        hx-target="#user-modal-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        hx-on--after-request="document.getElementById('user-modal').style.display='block'"
        src="{{ url_for('static', filename='icons/pencil-solid-full.svg') }}" alt="Edit" class="edit-button edit-icon icon">
    </div> -->
    <div class="user-details">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <p><strong>Role:</strong> {{ user.role }}</p>
    </div>
    {{ render_card_actions([
        {
            'label': 'Edit',
            'icon_name': 'pencil-solid-full',
            'class': 'edit-button',
            'htmx_attrs': {
                'hx-get': url_for('user.update_user', user_id=user.id),
                'hx-target': '#user-modal-content',
                'hx-swap': 'innerHTML',
                'hx-trigger': 'click',
                'hx-on--after-request': "document.getElementById('user-modal').style.display='block'"
            }
        },
        {
            'label': 'Delete',
            'icon_name': 'trash-can-solid-full',
            'type': 'delete',
            'htmx_attrs': {
                'hx-delete': url_for('user.delete_user', user_id=user.id),
                'hx-target': '#errors-container',
                'hx-swap': 'innerHTML',
                'hx-confirm': 'Are you sure you want to delete this user? This action cannot be undone.'
            }
        }
    ]) }}
</div>