<form id="user-update-password-form" 
hx-put="{{ url_for('user.update_user_password', user_id=user.id) }}"
hx-on--after-request="if(event.detail.successful) { document.getElementById('profile-modal').style.display='none'; document.getElementById('user-update-form').reset(); } else { document.getElementById('errors-container').innerHTML = event.detail.xhr.response; }"
hx-target="#errors-container"
hx-swap="innerHTML"
>
    <input hidden name="id" value="{{ user.id }}">
    <div class="form-group">
        <div class="form-card password-card">
            <div class="card-header">
                <span class="card-icon">👤</span>
                <span class="card-title">Update Password</span>
            </div>
            <div class="form-field">
                <label for="old_password">Old Password</label>
                <input type="password" id="old_password" name="old_password" required placeholder-text="Enter old password">
            </div>
            <div class="form-field">
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" required placeholder-text="Enter new password">
            </div>
            <div class="form-field">
                <label for="new_password_confirmation">Confirm New Password</label>
                <input type="text" id="new_password_confirmation" name="new_password_confirmation" required placeholder-text="Confirm new password">
            </div>
        
            <div class="form-actions">
                <button type="submit" class="button save-button">
                    💾 Update Password
                </button>
                <button type="button" class="button" onclick="document.getElementById('{{modal_name}}-modal').style.display='none'">Cancel</button>
            </div>
        </div>
    </div>
</form>