{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="user-profile container">
        <h1>My Profile</h1>
        <div id="errors-container"></div>
        {% include 'user_update_form.html' %}
    </div>
    {% with modal_name="profile" %}
    {% include 'modal.html'%}
    {% endwith %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_styles.css') }}">
{% endblock %}