{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="container">
        <h1>All Users</h1>
        {% if current_user.role == 'owner' %}    
                <button class="button"
                    hx-get="{{ url_for('user.create_user', view_type='normal') }}"
                    hx-target="#user-modal-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    hx-on--after-request="document.getElementById('user-modal').style.display='block'">
                <span class="icon">{{ svg_icons['user-plus-solid-full'] | safe }}</span>
                <span class="button-text">Create User</span>
            </button>
        {% endif %}
        {% include '_form_response.html' %}
        {% include 'user_list_fragment.html' %}
    </div>
    {% with modal_name="user" %}
    {% include 'modal.html'%}
    {% endwith %}
    {% with modal_name="profile" %}
    {% include 'modal.html'%}
    {% endwith %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_styles.css') }}">
{% endblock %}