<form id="user-creation-form" 
      hx-post="{{ url_for('user.create_user') }}"
      hx-target="#errors-container"
      hx-swap="outerHTML"
      hx-on--after-request="if(event.detail.successful) { document.getElementById('user-modal').style.display='none'; document.getElementById('user-creation-form').reset(); } else { document.getElementById('errors-container').outerHTML = event.detail.xhr.response; }">
    
    <h2>Create New User</h2>
    
    {% include '_form_response.html' %}
    
        <div class="form-group">
        <div class="form-card">
            <div class="card-header">
                <span class="card-icon"><img src="{{ url_for('static', filename='icons/user.png') }}" alt="User Profile" class="user-icon icon"></span>
                <span class="card-title">User Details</span>
            </div>
            <div class="form-field">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" required placeholder="Enter first name">
            </div>
            <div class="form-field">
                <label for="last_name">Last Name</labelr>
                <input type="text" id="last_name" name="last_name" required placeholder="Enter last name">
            </div>
            <div class="form-field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required placeholder="Enter email">
            </div>
            <div class="form-field">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" placeholder="Enter phone number">
            </div>
            <div class="form-field">
                <label for="role">Staff Role</label>
                <select name="role" id="role">
                    {% for role in roles %}
                    <option value="{{ role }}">{{ role }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-actions">
                <button type="submit" class="button save-button">
                    <img src="{{ url_for('static', filename='icons/save.svg') }}" alt="Save" class="save-icon icon"> Create User
                </button>
                <button type="button" class="button" onclick="document.getElementById('{{modal_name}}-modal').style.display='none'">Cancel</button>
            </div>
        </div>
    </div>
</form>